body { font-family: Verdana, Arial, sans-serif; background-color: #3F2860}
#wrapper { margin-left: auto;
             margin-right: auto;
             width: 80%;
             color: #3F2860;
             background-color: #F5F5F5;
             min-width: 420px;
             max-width: 1280px;
}
header { background-image: url(lilyheader.jpg);
          background-position: right;
          background-repeat: no-repeat; background-color: #9BC1C2;
          height: 150px;
}
footer { font-size: small; text-align: center; font-style: italic;
  background-color: #9BC1C2; padding: 1em;
}
nav { font-weight: bold; text-align: center; background-color: #DBE8E9;
  padding: 1em;
}
nav a { text-decoration: none;}
h1 { padding-top: 50px; padding-left: 2em;}
li { font-size: 90%;}
main { padding: 0 3em 3em 3em; display: block;}
#mathero { height: 300px; background-image: url(yogamat.jpg);
  background-size: 100% 100%; background-repeat: no-repeat;
}
#loungehero { height: 300px; background-image: url(yogalounge.jpg);
    background-size: 100% 100%; background-repeat: no-repeat;
}
img { padding: 2em;}
